@import "tailwindcss";

@keyframes fade-slide {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-slide {
    animation: fade-slide 0.6s ease-out forwards;
}

.transactions {
    list-style: none;
    padding: 0;
    margin: 0;
}
